@import url('../styles/fonts.css');

@media (max-width: 768px) {
  .skills .skills__programs {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100px;
    margin: 0 auto;
  }

  .main-info__lang-switcher {
    display: none;
  }

  .about-dev .main-info {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  .about-dev .about-dev-wrapper img {
    margin: 50px 0 84px 0;
  }

  .about-dev-wrapper .main-info h1 {
    padding: 60px 0 30px 0;
  }

  .about-dev .overview {
    padding: 80px 15px 75px 15px;
  }

  .skills__programs .skills__programs-list img {
    margin: 84px 0 26px 0;
  }

  footer .footer-wrap {
    padding: 80px 0 95px 0;
  }

  .about-dev .portfolio a {
    padding: 0;
  }

  .about-dev .portfolio a:last-child {
    padding-bottom: 80px;
  }

  .header-wrapper {
    display: none;
  }

  main .about-dev .main-info {
    flex-direction: row;
    align-items: self-end;
    height: 100%;
  }

  main .about-dev .about-dev-wrapper .main-info h1 {
    padding: 15px 0 0;
  }
}


@media (min-width : 768px) and (max-width : 1024px) {
  .skills .skills__programs {
    flex-wrap: wrap;
    justify-content: center;
  }

  .skills .skills__programs .skills__programs-list {
    flex: 0 1 50%;
  }

  .skills__programs .skills__programs-list .stars {
    display: inline-block;
  }
}



body {
  font-family: GilroyRegular;
  color: #070707;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin: 0;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.cont-img {
  width: 100%;
}

.header-wrapper {
  padding: 0 30px 0 30px;
}

.header-wrapper nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #828282;
}


.header-wrapper a {
  font-family: GilroyBold;
  text-decoration: none;
  font-weight: bold;
  color: #828282;
  padding: 32px 0 42px 0;
}


.header-wrapper a:hover {
  color: #070707;
}


.about-dev-wrapper {
  padding: 0 30px 0 30px;
}


.main-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 149px;
  box-sizing: border-box;
  text-align: left;
}


h1 {
  font-size: 47px;
  line-height: 59px;
  margin: 0;
  max-width: 150px;
}


.main-info__title {
  margin: 0;
}


.main-info__lang-switcher p {
  font-size: 16px;
  line-height: 20px;
  display: inline-block;
  transform: rotate(-90deg);
  padding: 10px;
  margin: -10px;
  transform-origin: top;
  font-family: GilroyBold;
  font-weight: bold;
  cursor: pointer;
}


.main-info__lang-switcher p .lang {
  color: #828282;
}

.main-info__lang-switcher p .lang:hover {
  color: black;
}


.main-info__lang-switcher p .active-lang {
  color: black;
}


.main-info__lang-switcher p .active-lang:hover {
  color: #828282;
}

.about-dev img {
  margin: 50px 0 104px 0;
}


.overview {
  background-color: #F6F6F6;
  padding: 120px 0 107px 0;
}


h2 {
  font-family: GilroyBold;
  font-size: 34px;
  line-height: 42px;
}


.overview h2 {
  margin: 0 0 30px 0;
  font-weight: bold;

}


.overview p {
  padding: 50px 0 0 0;
  margin: 0;
}


.overview p:first-of-type {
  padding: 0;
}


.skills {
  padding: 62.78px 0 92.06px 0;
}


.skills__programs {
  display: flex;
  justify-content: space-between;
}


.skills__programs p {
  padding: 22.03px 0 41.41px 0;
  margin: 0;
}

.stars {
  display: flex;
  width: 148px;
  justify-content: space-between;
}


.star {
  height: 26px;
  width: 26px;
  background-image: url(../sources/img/Star\ \(1\).svg);
  background-repeat: no-repeat;
  display: inline-block;
}


.active {
  height: 26px;
  width: 26px;
  background-image: url(../sources/img/Star.svg);
  background-repeat: no-repeat;
  display: inline-block;
}


.skills__programs-list p {
  min-height: 44px;
}


.portfolio {
  padding-top: 84.71px;
  background-color: #F6F6F6;
}


.portfolio img {
  max-width: 936.24px;
  max-height: 510px;
}


.portfolio a {
  display: block;
  padding: 45px 0 100px 0;
  color: black;
}


.footer-wrap {
  padding: 115px 0 105px 0;
}


.icons {
  display: flex;
  justify-content: space-between;
  max-width: 342px;
  margin: 0 auto;
  padding: 80px 0 0 0;
}


.footer-wrap h2 {
  margin: 0;
}


.footer-wrap p {
  padding: 35px;
}


.btn {
  display: block;
  height: 42px;
  width: 180.5px;
  background-color: black;
  border-radius: 40px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: GilroyBold;
  font-weight: bold;
  text-decoration: none;
  padding-top: 14px;
}